<div class="row">
  <div class="col-md-4">
    <img src="<%= book.img_url%>" class="img-fluid rounded book-img" alt="<%=book.title%>">
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <%= book.title %>
      </div>
      <div class="card-body">
        <h5 class="card-title">By
          <%= author.name %>
        </h5>
        <p class="card-text">
          <%= book.description %>
        </p>
        <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#authorModal">
          <%= author.name %></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <%= author.name %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">

            <img src="<%= author.img_url %>" alt="<%= author.name %>" class="rounded img-thumbnail float-left">
          </div>
          <div class="col-md-6">
            <p>
              <%= author.bio %>
            </p>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>







<br>
<hr>
<br>
<% if(clubs.length > 0 && cur_user){ %>
<div class="row">
  <div class="card mx-auto">
    <div class="card-header">
      Book Clubs for
      <%= book.title  %>
      <% if(cur_user) { %>
      <a href="/clubs/form/<%=book.id %>/<%= cur_user.id %>" class="btn btn-success btn-sm float-right">Create a Club</a>
      <% } %>
    </div>
    <div class="card-body">
      <div class="card-columns mx-auto">
        <% clubs.forEach( club => { %>
        <div class="col-md-4">
          <a href="/clubs/<%=club.id %>" class="">
            <div class="card text-center" style="width: 18rem;">
              <img class="card-img-top" src="<%= club.img_url%>" alt="<%=club.name %>">
              <div class="card-body">
                <h5 class="card-title">
                  <%=club.name%>
                </h5>
              </div>
            </div>
          </a>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<% } else if (cur_user) { %>
<div class="row">
  <div class="card mx-auto">
    <div class="card-header">
      Book Clubs for
      <%= book.title  %>
      <% if(cur_user) { %>
      <a href="/clubs/form/<%=book.id %>/<%= cur_user.id %>" class="btn btn-success btn-sm float-right">Create a Club</a>
      <% } %>
    </div>
    <div class="card-body">
      <div class="card-columns mx-auto">
        <h1>No Clubs yet..</h1>
      </div>
    </div>
  </div>
</div>
<br>
<% } else { %>
<div class="row">

</div>
<% } %>